/cpp/build/generateWindows/VS2017/*
/cpp/build/generateWindows/VS2017_x64/*
/cpp/build/output/*
/cpp/build/generateLinux/gccLinuxRelease/*
/cpp/build/generateLinux/gccLinuxDebug/*
.vscode/*
cpp/CMakeLists.txt.user
build/*

/cpp/applications/openScenarioReader/res/result.txt
RabbitVCSwithGitHub/*
/cpp/applications/openScenarioTester/v_1_0/src/openScenarioAPI/*
cpp/applications/openScenarioTester/v_1_0/src/findHeaders.sh
cpp/dirs_all.txt
cpp/build/generateLinux/openSCENARIO_2020.08.11.tgz
