/.vs
/.vscode
/cpp/.vs
/cpp/.vscode
/cpp/build
/cpp/build.tgz
/cpp/buildArtifact/openSCENARIO*
/cpp/buildArtifact/openScenario.v*
/cpp/buildArtifact/OpenS*
/cpp/buildArtifact/msbuildcmd.txt
/cpp/CMakeLists.txt.user
/cpp/applications/openScenarioReader/res/result.txt
/cpp/applications/openScenarioTester/src/openScenarioAPI
/cpp/applications/openScenarioTester/src/findHeaders.sh
/cpp/dirs_all.txt
/cpp/README_template.md
/cpp/RabbitVCSwithGitHub
/openscenario.api.test.code-workspace
/RabbitVCSwithGitHub
/java/.settings
/cpp/doc/images/oscCCMakeTermLin1c.png
/doc/allInOne.html
/cpp/osc.xcworkspace
/cpp/applications/indexerTester/rc/IndexerTester.aps
/cpp/applications/openScenarioReader/rc/OpenScenarioReader.aps
/cpp/applications/openScenarioReader/src/findHeaders.sh
/cpp/applications/openScenarioTester/rc/OpenScenarioTester.aps
/cpp/openScenarioLib/rc/OpenScenarioLib.aps
/cpp/applications/expressionsTester/rc/ExpressionsTester.rc
/cpp/applications/expressionsTester/src/antlr/.antlr
/cpp/thirdparty/antlr/antlr4-4.8/
/cpp/thirdparty/antlr/antlr4-4.8_*.zip
